<!DOCTYPE html>
<html lang="en">

    <head>

        {% block head %}

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>
                BirdRock Requisition Form
            </title>

            <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    	    <link href="/static/css/style.css" rel="stylesheet">

        {% endblock %}

        <script>

            function pdfKit() {

                var page_attributes = {},
                    settings        = document.location.search.substring(1).split( '&' ),
                    attributes      = [
                    'frompage',
                    'topage',
                    'page',
                    'webpage',
                    'section',
                    'subsection',
                    'subsubsection'
                ];

                for ( var i in settings ) {
                    var z                 = settings[i].split( '=', 2 );
                    page_attributes[z[0]] = unescape(z[1]);
                }

                for ( var i in attributes ) {

                    var elements = document.getElementsByClassName( attributes[i] );

                    for ( var j = 0; j < elements.length; ++j )
                        elements[j].textContent = page_attributes[attributes[i]];

                    // If page is 1, set pdf-footer display to none
                    if( page_attributes[ 'page' ] == 1 )
                        document.getElementById('pdf-footer').style.display = 'none';

                }
            }

        </script>

    </head>

    <body onload="pdfKit()">

        {% block content %}
        {% endblock %}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>

    </body>

</html>