/*================================*
*                                *
*    Created by Pavel Klychov    *
*    p.klychov@gmail.com         *
*                                *
*================================*/

body { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:18px; }
.aligncenter { text-align: center; }
.alignright { text-align: right; }
.alignleft { text-align: left; }
.img-responsive { display:inline-block; }
.cell { display: inline-block; }
.field-holder { display: block; width: 100%; margin: 5px 0; }
h2 { font-size: 20px; font-weight:bolder; margin-top:0; text-align:center; margin-bottom: 5px; }
h3 { font-size:16px; margin-top:0; }
.info-row { display:table; width:100%; }
.info-row > .cell {}
.info-row > .cell:first-child { display: inline-block; padding-right:80px; }
.title-line { width:100%; margin: 10px 0; }
.input-style3 { border:none; width:100%; }
.content-bg-border .col-md-3, .content-bg-border .col-md-4 { display:table-cell; vertical-align:middle; }

/*================================================================================================================================================================================================*
                                                                                    GENERAL SECTION
*================================================================================================================================================================================================*/

.col-md-12 { display:table; float:none; }
.col-md-12 .col-md-6, .col-md-12 .col-md-6 { width: 50%; float: none; display: table-cell; }

.field-holder .input-style { width:100%; }
.input-style { background:none; border: none; border-bottom:solid 1px #000; }
.field-holder2 .input-style:before { content:"/"; display:inline-block; border:solid 1px red; }
.field-holder2 { display:block; margin: 4px 0; }
.field-holder2 .input-style { text-align:center; }
.field-holder2 > .cell:first-child { position: relative; top: 3px; white-space:nowrap; }

.cell.sep { width:auto; padding:0 0 0 5px !important; font-size: 20px; line-height: 10px; margin-left:3px; }

.bg-blue { background: #c3e4f7; }

div.caption-section-block { width: 100%; float: left; }
div.caption-section-block .captionbox { width: 600px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px; border: 1px solid #111; padding: 15px 20px; font-size: 11px; }

.customer-info .input-style3 { padding: 0 0px 0px 0px; font-size: 17px; }

.info-row-2, .user-main-info, .patient-demographic, .diagnosis-order-provider { display:block; width:100%; }
.info-row-2 .cell:first-child { display: inline-block; }
.info-row-2 .cell label, .info-row-2 .cell input { font-size: 15px; font-weight: 100; }
.customer-info { border:solid 1px #000; border-top: none; }
.customer-info > .customer-title { display: inline-block; width:170px; margin:0 auto; position:relative; top:-17px; text-align:center; font-size: 16px; font-weight: bold; }

/*================================================================================================================================================================================================*
                                                                                    CHECKBOX REQUISITION SECTION
*================================================================================================================================================================================================*/

.checkbox-requisittion-container { display: block; position: relative; padding-left: 26px; margin-bottom: 12px; cursor: pointer; font-size: 22px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox-requisittion-container input { position: absolute; opacity: 0; cursor: pointer; }
.checkbox-requisittion-container .checkmark { position: absolute; top: 0; left: 0; height: 20px; width: 20px; background-color: #e9f6fd; border: 1px solid #a5afb3; }
.checkbox-requisittion-container:hover input ~ .checkmark { background-color: #ccc; }
.checkbox-requisittion-container input:checked ~ .checkmark { background-color: #e9f6fd; }
.checkbox-requisittion-container input:checked ~ .checkmark:after { display: block; }
.checkbox-requisittion-container .checkmark:after { left: 7px; top: 3px; width: 5px; height: 10px; border: solid #a5afb3; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.checkmark:after { content: ""; position: absolute; display: none; }

/*================================================================================================================================================================================================*
                                                                                    	LIST STYLES SECTION
*================================================================================================================================================================================================*/

ul.table-bottom-description { list-style: none; padding-left: 0px; float: left; width: 100%; text-align: right; font-size: 10px; margin-bottom: 20px; }
ul.table-bottom-description li:first-child { float: left; width: 40%; }
ul.table-bottom-description li:nth-child(2) { float: left; width: 19%; text-align: center; }
ul.table-bottom-description li:nth-child(3) { float: left; width: 15%; text-align: left; }
.list-blocks { display: block; width: 100%; margin-top: 5px; float: left; }
.list-blocks > .block { width: 177px; display:inline-block; border:solid 1px #000; vertical-align:top; margin-top: 1px; }
.list-blocks > .block:first-child { margin-right: 1px; }
.list-items { padding-left:0; list-style:none; margin-bottom:0; float: left; width: 100%; }
.list-items > li { border-bottom:solid 1px #000; padding: 7px 8px; text-align:left; float: left; width: 100%; }
.list-items > li.title { background: #c3e4f7; }
.list-items > li label { margin-bottom:0; font-weight:normal; font-size: 10px; float: left; text-transform: capitalize; }
.list-items > li input { float:right; margin-top: 3px; }
.list-items > li.title label { font-weight: bold; font-size : 14px; float: left; }

/*================================================================================================================================================================================================*
                                                                                      CHECKBOX STYLES SECTION
*================================================================================================================================================================================================*/

.checkbox-container { display: block; position: relative; padding-left: 13px; margin-bottom: 0px; cursor: pointer; font-size: 10px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; float: right; margin-top: 0px; }
.bg-blue .checkbox-container { margin-top: 3px; }
.checkbox-container input { position: absolute; opacity: 0; cursor: pointer; }
.checkbox-container .checkmark { position: absolute; top: 0; left: 0; height: 15px; width: 15px; background-color: #ffffff; border: 1px solid #a5afb3; }
.checkbox-container:hover input ~ .checkmark { background-color: #ccc; }
.checkbox-container input:checked ~ .checkmark { background-color: #ffffff; }
.checkbox-container input:checked ~ .checkmark:after { display: block; }
.checkbox-container .checkmark:after { left: 4px; top: 1px; width: 5px; height: 10px; border: solid #000000; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

/*================================================================================================================================================================================================*
                                                                                      TABLE STYLES SECTION
*================================================================================================================================================================================================*/

.table-bordered.table-custom th:first-child { width: 215px; }
.table-bordered.table-custom { border:solid 1px #000; margin-bottom: 10px; }
.table-bordered.table-custom th { background:#c3e4f7; font-weight:normal; text-align:center; text-transform: uppercase; }
.table-bordered.table-custom th,
.table-bordered.table-custom td { border:solid 1px #000; font-size:12px; vertical-align:middle; color: #000000; }
td.bg-light-blue { background: #e9f6fd; width: 50%; }

/*================================================================================================================================================================================================*
                                                                                    ALL BLOCK STYLES SECTION
*================================================================================================================================================================================================*/

.block-1 { text-align:center; padding: 5px 0px; }
.block-1 > .code-holder { display: inline-block; height:145px; border:solid 1px #e591bf; border-radius:20px; padding:8px 4px 9px 4px; margin-top:5px; margin-bottom:5px; }
.block-1 > .code-holder > img { display:inline-block; }
.block-1 > .code-holder:last-child { border-color: transparent; }
.block-2 { width:100%; padding: 0px; text-align: justify; margin-top: 10px; margin-bottom: 5px; }
.block-2 .code-holder:first-child{ border: none; width: 320px; height: auto; vertical-align: middle; border-radius: 20px; padding: 8px 4px 9px 4px; margin-top: 5px; margin-bottom: 5px; display: inline-block; font-size: 16px; }
.block-2 .code-holder:nth-child(2) { vertical-align: middle; padding: 0px; display: inline-block; width: 225px; margin-bottom: 5px; margin-right: 75px; }
.block-2 .code-holder:last-child { padding: 0px; margin: 0px auto; vertical-align: middle; width: 282px; display: inline-block; }
.block-2 > .cell { vertical-align: middle; width: 350px; padding:10px 0; display: inline-block; }
.block-2 > .cell:nth-child(2) { text-align:center; padding-right: 10px; padding-left: 10px; }
.block-3 { background:#e9f6fd; padding: 10px; margin-bottom: 20px; margin-top: 10px; float: left; width: 100%; }
.block-4 { margin-bottom:30px; position: relative; margin-top: 15px; }
.block-4 i.immunoassay { font-size: 12px; position: absolute; top: 41%; left: 3%; }

#blockA, #blockC, .block-4 table.table-medications { page-break-after: always; }
#blockB > .patient-info { display: block; width: 100%; }
#blockB > .patient-info > .cell { width: 49%; display: inline-block; vertical-align: top; }
#blockB > .patient-info > .cell label, #blockB > .patient-info > .cell input, #blockB > .patient-info > .cell p, #blockC > .patient-info > .cell label, #blockC > .patient-info > .cell input, #blockC > .patient-info > .cell p { color: #000000; font-size: 14px; }
#blockB > .patient-info > .cell textarea#facility-address { border: none; resize: none }
#blockB > .medictations label { font-size: 16px; border-top: 1px solid #a7a7a7; width: 100%; padding: 8px 4px; margin-bottom: 0px; color: #000000; text-transform: capitalize; }
#blockB > .medictations table { border: none; margin-bottom: 0px; }
#blockB > .medictations table tr th { font-size: 12px; font-weight: bold; }
#blockB > .medictations table tr th, #blockB > .medictations table tr td { border-top: 1px solid #a7a7a7; border-bottom: 1px solid #a7a7a7; padding: 8px 4px; background: none; border-left: none; border-right: none; text-align: left; color: black;  font-size: 13px; }
#blockC { margin-top: 20px; }
#blockC #primary-section h3 { color: #000000; font-weight: bold; margin-top: 10px; }
#blockC > .patient-info > .cell { width: 49%; display: inline-block; vertical-align: top; }
#blockC > .patient-info > .cell textarea#facility-address { border: none; resize: none }
#blockC > #insurances .insurance-sections { border: 2px solid #cecece; margin-bottom: 20px; }
#blockC > #insurances .insurance-sections h4 { border-bottom: 2px solid #cecece; margin: 0px; font-size: 16px; font-weight: bold; color: #000000; padding: 7px 8px; }
#blockC #insurances .insurance-sections .cell:nth-child(2) { padding: 7px 40px; width: 50%; border-right: 2px solid #cecece; vertical-align: middle; text-align: left; }
#blockC #insurances .insurance-sections .cell:last-child { padding: 7px 40px; vertical-align: middle; text-align: left; }
#blockC #insurances .insurance-sections .cell ul li label { width: 175px; color: #000000; max-width: 175px; word-break: break-all; }
#blockC #insurances .insurance-sections .cell ul li p { color: #000000; display: inline-block; max-width: 175px; }

.container ul.notes-list { position: absolute; list-style: none; padding-left: 0px; }
.container ul.notes-list li { position: absolute; background: #fffddf; color: #000000; text-align: center; font-size: 18px; z-index: 9; }

/*================================================================================================================================================================================================*
                                                                                        FOOTER SECTION
*================================================================================================================================================================================================*/

.footer-container { border-top: 2px dotted #a7a7a7; float: left; width: 100%; }
.footer-container .cell { width: 33.3333333%; float: left; padding-left: 15px; }
.footer-container .cell p { margin-bottom: 0px; font-size: 16px; }
.footer-container .cell img { width: 150px; }

/*================================================================================================================================================================================================*
                                                                                	  RESPONSIVE SECTION
*================================================================================================================================================================================================*/

@media ( max-width: 767px ){
	.info-row { display: block; width: 100%; }
	.info-row > .cell:first-child { width: 100%; padding-right: 0; }
	.info-row > .cell { display: block; }
	.block-2 { display: table; }
	.block-2 > .cell { display:block; width: 100%; text-align:center; }
	.list-blocks { text-align:center; }
	.list-blocks > .block { margin-bottom:7px; }
}

@media ( min-width: 1200px ) {
	.info-row { display: block; width: 100%; }
	.info-row > .cell:first-child { display: inline-block; padding-right: 80px; }
	.info-row > .cell { display: inline-block; }
}