<p style="margin-left: 5px; float: left; width: 100%; font-size: 16px; margin-top: 0;">
    PLEASE SELECT GROUP(S) OR SINGLE DRUG(S)
</p>

<div class="list-blocks">

    <div class="block">

        <ul class="list-items">

            {% for drugs in form.forms %}

                {% if loop.index >= 20 and loop.index < 27 %}

                    {% if 'Opiates/Opioids' in drugs.id %}
                        {% set title_class = "title" %}
                    {% else %}
                        {% set title_class = "" %}
                    {% endif %}

                    <li class="{{ title_class  }}">

                        <label for="{{ drugs.id }}">
                            {{ drugs.id | replace( "-", "/" ) }}:
                        </label>

                        <div class="checkbox-container">

                            {% if drugs.value == True %}
                                <input type="checkbox" id="{{ drugs.id }}" checked>
                            {% else %}
                                <input type="checkbox" id="{{ drugs.id }}">
                            {% endif %}

                            <span class="checkmark"></span>

                        </div>

                    </li>

                {% endif %}

            {% endfor %}

        </ul>

    </div>

    <div class="block">

        <ul class="list-items">

            {% for drugs in form.forms %}

                {% if loop.index >= 27 and loop.index < 34 %}

                    {% if 'Benzodiazepines' in drugs.id %}
                        {% set title_class = "title" %}
                    {% else %}
                        {% set title_class = "" %}
                    {% endif %}

                    <li class="{{ title_class }}">

                        <label for="{{ drugs.id }}">
                            {{ drugs.id | replace( "-", " " ) }}:
                        </label>

                        <div class="checkbox-container">

                            {% if drugs.value == True %}
                                <input type="checkbox" id="{{ drugs.id }}" checked>
                            {% else %}
                                <input type="checkbox" id="{{ drugs.id }}">
                            {% endif %}

                            <span class="checkmark"></span>

                        </div>

                    </li>

                {% endif %}

            {% endfor %}

        </ul>

    </div>

    <div class="block">

        <ul class="list-items">

            {% for drugs in form.forms %}

                {% if loop.index >= 34 and loop.index < 44 %}

                    {% if 'Illicit Drugs' in drugs.id %}
                        {% set title_class = "title" %}
                    {% elif 'Synthetic/Controlled' in drugs.id %}
                        {% set title_class = "title" %}
                    {% else %}
                        {% set title_class = "" %}
                    {% endif %}

                    <li class="{{ title_class }}">

                        <label for="{{ drugs.id }}">
                            {{ drugs.id | replace( "-", " " ) }}:
                        </label>

                        <div class="checkbox-container">

                            {% if drugs.value == True %}
                                <input type="checkbox" id="{{ drugs.id }}" checked>
                            {% else %}
                                <input type="checkbox" id="{{ drugs.id }}">
                            {% endif %}

                            <span class="checkmark"></span>

                        </div>

                    </li>

                {% endif %}

            {% endfor %}

        </ul>

    </div>

    <div class="block">

        <ul class="list-items">

            {% for drugs in form.forms %}

                {% if loop.index >= 44 and loop.index < 52 %}

                    {% if 'Muscle Relaxants' in drugs.id %}
                        {% set title_class = "title" %}
                    {% elif 'Antidepressants' in drugs.id %}
                        {% set title_class = "title" %}
                    {% else %}
                        {% set title_class = "" %}
                    {% endif %}

                    <li class="{{ title_class }}">

                        <label for="{{ drugs.id }}">
                            {{ drugs.id | replace( "-", " " ) }}:
                        </label>

                        <div class="checkbox-container">

                            {% if drugs.value == True %}
                                <input type="checkbox" id="{{ drugs.id }}" checked>
                            {% else %}
                                <input type="checkbox" id="{{ drugs.id }}">
                            {% endif %}

                            <span class="checkmark"></span>

                        </div>

                    </li>

                {% endif %}

            {% endfor %}

        </ul>

    </div>

    <div class="block">

        <ul class="list-items">

            {% for drugs in form.forms %}

                {% if loop.index >= 52 and loop.index < 64 %}

                    {% if 'Special Opioids' in drugs.id %}
                        {% set title_class = "title" %}
                    {% elif 'Other Drugss' in drugs.id %}
                        {% set title_class = "title" %}
                    {% else %}
                        {% set title_class = "" %}
                    {% endif %}

                    <li class="{{title_class}}">

                        <label for="{{ drugs.id }}">
                            {{ drugs.id | replace( "-", " " ) }}:
                        </label>

                        <div class="checkbox-container">

                            {% if drugs.value == True %}
                                <input type="checkbox" id="{{ drugs.id }}" checked>
                            {% else %}
                                <input type="checkbox" id="{{ drugs.id }}">
                            {% endif %}

                            <span class="checkmark"></span>

                        </div>

                    </li>

                {% endif %}

            {% endfor %}

        </ul>

    </div>

</div>

<i class="immunoassay">
    *Immunoassay Only
</i>

<table class="title-line">

    <thead>

        <tr>

            <th>

                <div class="checkbox-container" style="float: left; margin-top: 5px; padding-left: 25px;">

                    {% if form.forms[64].value == True %}
                        <input id="Medication-List-Attached" type="checkbox" checked>
                    {% else %}
                        <input id="Medication-List-Attached" type="checkbox">
                    {% endif %}

                    <span class="checkmark"></span>

                </div>

                <label for="Medication-List-Attached" style="font-size: 14px; font-weight: normal;">
                    Medication List Attached
                </label>

            </th>

        </tr>

    </thead>

    <tbody>

    </tbody>

</table>

<table class="table table-bordered table-custom table-medications">

    <thead>

        <tr>
            <th style="font-size: 15px; font-weight: bold; text-align: left">
                Prescribed Medications
            </th>
        </tr>

    </thead>

    <tbody>

        {% if form.forms[66] and form.forms[66].rows %}

            {% for doosing_lists in form.forms[66].rows %}

                <tr>

                    {% for elem in doosing_lists %}

                        <td>
                            {{ elem.value }}
                        </td>

                    {% endfor %}

                </tr>

            {% endfor %}

        {%  else  %}

             <tr>
                 <td></td>
             </tr>
            <tr>
                 <td></td>
             </tr>
            <tr>
                 <td></td>
             </tr>
            <tr>
                 <td></td>
             </tr>
            <tr>
                 <td></td>
             </tr>
            <tr>
                 <td></td>
             </tr>

        {% endif %}

    </tbody>

</table>


<table class="table table-bordered table-custom">

    <thead>

        <tr>

            <th colspan="2" style="text-align:left; font-weight: bold; font-size: 15px;">
                PATIENT CONTACT INFORMATION
            </th>

        </tr>

    </thead>

    <tbody>

        <tr>

            <td colspan="2">
                <textarea style="width: 100%; height: 70px; border: none; resize: none; font-weight: bold; overflow: hidden;">{{ form.forms[65].value }}</textarea>
            </td>

        </tr>

    </tbody>

</table>

<table class="table table-bordered table-custom">

    <thead>

        <tr>

            <th colspan="2" style="text-align:left; font-weight: bold; font-size: 15px;">
                AUTHORIZATION/SIGNATURES
            </th>

        </tr>

    </thead>

    <tbody>

        <tr>

            <td colspan="2" style="font-size: 12px">
                <strong style="font-size: 14px;">DONOR:</strong> I certify that the specimen and information provided is my own and has not been substituted or
                adulterated. I further grant permission for the
                testing of my specimen for the presence of drugs and/or alcohol. I authorize Birdrock Laboratories to share
                the information on this form and my test
                results with my designated insurance carrier if necessary for reimbursement, to appeal any reimbursement
                denial, and authorize all reimbursements to
                be paid directly to the laboratory in consideration of services performed. I acknowledge that Birdrock
                Laboratories may be outside my network of
                insurance and I may be responsible for the amount due as determined by said insurance. I authorize Birdrock
                Laboratories to release the results of this
                testing to the treating authorized healthcare provider or facility.
            </td>

        </tr>

        <tr>

            <td class="bg-light-blue">
                Donor Authorization Signature:
                <br><br>
            </td>

            <td class="bg-light-blue">
                Authorized Health Care Provider Signature:
                <br><br>
            </td>

        </tr>

    </tbody>

</table>

<ul class="table-bottom-description">

    <li>
        White Copy - Lab
    </li>

    <li>
        Yellow Copy - Physician Office
    </li>

    <li>
        Pink - Patient Copy
    </li>

    <li>
        Rev.3/2018
    </li>

</ul>

<div class="caption-section-block">

    <div class="captionbox" id="captionbox">

        <p>
            Testing preformed by Birdrock Laboratories is compliant with all local and state guidelines and regulations. Any testing performed at our facility is based on current coding:
        </p>

        <ul>

            <li>
                CPT <strong>80307</strong> - Drug test(s), presumptive...includes sample validation when performed, per date of service.
            </li>

            <li>
                CPT <strong>G0480</strong> - Drug test(s), definitive...1-7 drug class(es), including metabolite(s) if performed.
            </li>

            <li>
                CPT <strong>G0481</strong> - Drug test(s), definitive...8-14 drug class(es), including metabolite(s) if performed.
            </li>

            <li>
                CPT <strong>G0482</strong> - Drug test(s), definitive...15-21 drug class(es), including metabolite(s) if performed.
            </li>

            <li>
                CPT <strong>G0483</strong> - Drug test(s), definitive...22 or more drug class(es), including metabolite(s) if performed.
            </li>

        </ul>

        <p>
            All tests ordered for Medicare or Medicaid reimbursement must meet the program’s requirements or the claim may be denied. Testing should ONLY be performed when it is considered medically necessary by a qualified healthcare professional.
        </p>

    </div>

</div>