{% extends "layouts/main.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    {% if notes %}

        <div class="container">

            <ul class="notes-list">

                {% if 'items' in notes %}

                    {% for note in notes[ 'items' ] %}

                        {% if note.text %}

                            {% set scale           = notes.size.original.w/notes.size.actual.w %}
                            {% set original_note_w = note.sizes.width %}
                            {% set width           = ( note.sizes.width / note.scale.x ) %}
                            {% set scaleX          = (  note.scale.x * scale ) %}
                            {% set scaleY          = (  note.scale.y * scale ) %}
                            {% set left            = ( (  note.location.left + ( ( original_note_w - ( original_note_w / note.scale.x ) )/ 2 ) + 25 ) * scale ) %}

                            {% if note.location.top <= 441 %}
                                {% set top = ( note.location.top * scale ) + ( 130 * scaleY )  %}
                            {% else %}
                                {% set top = note.location.top * scale %}
                            {% endif %}

                            <li style="top:{{ top }}px; left: {{ left }}px; width: {{ width }}px; -moz-transform: rotate({{ note.scale.angle }}deg) scale( {{ scaleX }}, {{ scaleY }} ); -ms-transform: rotate({{ note.scale.angle }}deg) scale( {{ scaleX }}, {{ scaleY }} ); -webkit-transform: rotate({{ note.scale.angle }}deg) scale( {{ scaleX }}, {{ scaleY }} ); -o-transform: rotate({{ note.scale.angle }}deg) scale( {{ scaleX }}, {{ scaleY }} ); transform: rotate({{ note.scale.angle }}deg) scale( {{ scaleX }}, {{ scaleY }} ); position: absolute; background: #fffddf; color: #000000; text-align: center; font-size: 18px; z-index: 9;">
                                {{ note.text }}
                            </li>

                        {% endif %}

                    {% endfor %}

                {% endif %}

            </ul>

        </div>

    {% endif %}

    {% for form in forms %}

        {% if form.page == 'page1' %}

            <div class="container" id="blockA">

                <div class="block-1">

                    {% if barcode %}

                        <div class="code-holder" style="height: auto">
                            <img src="{{ barcode }}" width="220" height="100" class="img-responsive">
                        </div>

                    {% endif %}

                </div>

                <div class="block-2">

                    <div class="code-holder">
                        1596 N Coast Highway 101<br>
	                    Encinitas, CA 92024<br>
	                    +1 (323) 596-0999<br>
                    </div>

                    {% if type != 'shblab' %}

                        <div class="code-holder">
                            <img src="/static/images/{{ type }}.png" width="251" height="145" class="img-responsive">
                        </div>

                    {% endif %}

                    <div class="code-holder">

                        <div class="customer-info">

                            <hr style="display: inline-block;width: 40px;border-top-color: black;margin-top: 0px;">

                            <span class="customer-title">
                                Customer Information
                            </span>

                            <hr style="display: inline-block;width: 40px;border-top-color: black;margin-top: 0px;">

                            <textarea rows="5" class="input-style3" style="resize: none; overflow: hidden; padding-left: 15px; font-size: 16.8px; margin: 1px 0px;">{{ form.forms[4].value }}</textarea>

                        </div>

                    </div>

                </div>

                <div class="block-3">
                    {% include 'conversion/requisittion-definitive.html' %}
                </div>

                <div class="block-4">
                    {% include 'conversion/groups-single-drugs.html' %}
                </div>

            </div>

        {% elif form.page == 'page2' and form.forms %}

            <div class="container" id="blockB" style="font-size: small; color: gray;">
                {% include 'conversion/medication.html' %}
            </div>

        {% elif form.page == 'page3' and form.forms %}

            <div class="container" id="blockC" style="font-size: small; color: gray;">
                {% include 'conversion/insurance.html' %}
            </div>

        {% endif %}

    {% endfor %}

{% endblock %}