{% if form.forms[0].fields|length > 5 %}

    <div class="patient-info">

        {% if form.forms[0] and form.forms[0].type == 'text' %}

            <div class="cell">

                <label>
                    PATIENT
                </label>

                <ul style="list-style-type: none; display: inline;">

                    {% for patient in form.forms %}

                        {% if loop.index >= 0 and loop.index < 6 %}

                            {% if patient and patient.type == 'text' %}

                                <li>

                                    {% if key != 0 %}

                                        <label style="width: 35px;">
                                            {{ patient.id | replace( "-", " " ) }}
                                        </label>

                                    {% endif %}

                                    <input id="{{ patient.id }}" type="text" value="{{ patient.value }}" readonly style="border: none;">

                                </li>

                            {% endif %}

                        {% endif %}

                    {% endfor %}

                </ul>

            </div>

        {% endif %}

        {% if form.forms[6] and form.forms[6].type == 'text' %}

            <div class="cell">

                <label>
                    FACILITY
                </label>

                <ul style="list-style-type: none; display: inline;">

                    <li>
                        <input id="facility-name" type="text" value="{{ form.forms[6].value }}" readonly style="border: none;">
                    </li>


                    {% if form.forms[7] and form.forms[7].type == 'text' %}

                        <li>

                            <label>
                                T
                            </label>

                            <input id="facility-dob" type="text" value="{{ form.forms[7].value }}" readonly style="border: none;">

                        </li>

                    {% endif %}

                    <li>

                        <p id="facility-address" type="text" readonly style="width: 100%; height: 100px;">

                            {% for facility in form.forms %}

                                {% if loop.index >= 8 and loop.index < 13 %}

                                    {% if facility and facility.type == 'text' %}

                                        {{ facility.value }}
                                        <br>

                                    {% endif %}

                                {% endif %}

                            {% endfor %}

                        </p>

                    </li>

                </ul>

            </div>

        {% endif %}

    </div>

    <div id="insurances">

        {% for insurances in form.forms %}

            {% if 'container' in insurances.type %}

                <div id="{{ insurances.id }}-section" class="insurance-sections">

                    <p style="border-bottom: 2px solid #cecece; margin: 0px; font-size: 16px; font-weight: bold; color: #000000; padding: 7px 8px;">
                        {{ insurances.title }}
                    </p>

                    <div class="cell">

                        <ul style="list-style-type: none; display: inline;">

                            {% for insurance in insurances.fields %}

                                {% if insurances.fields|length // 2 >= loop.index %}

                                    <li>

                                        <label>
                                            {{ insurance.id | replace( "-", " " ) }}:
                                        </label>

                                        <p>
                                            {{ insurance.value }}
                                        </p>

                                    </li>

                                {% endif %}

                            {% endfor %}

                        </ul>

                    </div>

                    <div class="cell">

                        <ul style="list-style-type: none; display: inline;">

                            {% for insurance in insurances.fields %}

                                {% if insurances.fields|length // 2 < loop.index %}

                                    <li>

                                        <label>
                                            {{ insurance.id | replace( "-", " " ) }}:
                                        </label>

                                        <p>
                                            {{ insurance.value }}
                                        </p>

                                    </li>

                                {% endif %}

                            {% endfor %}

                        </ul>

                    </div>

                </div>

            {% endif %}

        {% endfor %}

    </div>

{% else %}

    <div id="insurances">

        {% for insurances in form.forms %}

            {% if 'container' in insurances.type %}

                <div id="{{ insurances.id }}" class="insurance">

                    <p style="border-bottom: 2px solid #cecece; margin: 0px; font-size: 16px; font-weight: bold; color: #000000; padding: 7px 8px;">
                        {{ insurances.title }}
                    </p>

                    <table class="table table-bordered table-custom" id="insurances-medications">

                        <thead>

                            <tr>

                                {% for title in insurances.fields %}

                                    <th>
                                        {{ title.id | replace( "_", " " ) }}
                                    </th>

                                {% endfor %}

                            </tr>

                        </thead>

                        <tbody>

                            <tr>

                                {% for insurance in insurances.fields %}

                                    {% if insurance %}

                                        <td>
                                            {{ insurance.value }}
                                        </td>

                                    {% endif %}

                                {% endfor %}

                            </tr>

                        </tbody>

                    </table>

                </div>

            {% endif %}

        {% endfor %}

    </div>

{% endif %}