{% if form.forms and form.forms is not none %}

    <div class="patient-info">

        {% if form.forms[0] and ( form.forms[0].id != 'medications' )
            and ( form.forms[0].id != 'active-medications' )
            and ( form.forms[0].id != 'historical-medications' )
        %}

            <div class="cell">

                <label>
                    PATIENT
                </label>

                <ul style="list-style-type: none; display: inline;">

                    {% for patient in form.forms %}

                        {% if loop.index >= 0 and loop.index < 5 %}

                            {% if patient and patient.id != 'medications'
                                and ( patient.id != 'active-medications' )
                                and ( patient.id != 'historical-medications' )
                            %}

                                <li>

                                    {% if key != 0 %}

                                        <label style="width: 35px;">
                                            {{ patient.id | replace( "-", " " ) }}
                                        </label>

                                    {% endif %}

                                    <input id="{{ patient.id }}" type="text" value="{{ patient.value }}" readonly style="border: none;">

                                </li>

                            {% endif %}

                        {% endif %}

                    {% endfor %}

                </ul>

            </div>

        {% endif %}

        {% if form.forms[5] and form.forms[5].id != 'medications'
            and ( form.forms[5].id != 'active-medications' )
            and ( form.forms[5].id != 'historical-medications' )
        %}

            <div class="cell">

                <label>
                    FACILITY
                </label>

                <ul style="list-style-type: none; display: inline;">

                    <li>
                        <input id="facility-name-medication" type="text" value="{{ form.forms[5].value }}" readonly style="border: none;">
                    </li>

                    {% if form.forms[6] and form.forms[6].id != 'medications'
                        and ( form.forms[6].id != 'active-medications' )
                        and ( form.forms[6].id != 'historical-medications' )
                    %}

                        <li>

                            <label>
                                T
                            </label>

                            <input id="facility-dob-medication" type="text" value="{{ form.forms[6].value }}" readonly style="border: none;">

                        </li>

                    {% endif %}

                    <li>

                        <p id="facility-address-medication" type="text" readonly>

                            {% for facility in form.forms %}

                                {% if loop.index >= 7 and loop.index < 10 %}

                                    {% if facility and facility.type == 'text' %}

                                        {{ facility.value }}
                                        <br>

                                    {% endif %}

                                {% endif %}

                            {% endfor %}

                        </p>

                    </li>

                </ul>

            </div>

        {% endif %}

    </div>

    <div class="medictations">

        {% for medications in form.forms %}

            {% if medications.rows %}

                <label>
                    {{ medications.id | replace( "-", " " ) }}
                </label>

                <table class="table table-bordered table-custom" id="active-medications">

                    <thead>

                        <tr>

                            {% for title in medications.rows[0] %}

                                <th>
                                    {{ title.id | replace( "-", " " ) }}
                                </th>

                            {% endfor %}

                        </tr>

                    </thead>

                    <tbody>

                        {% for medication in medications.rows %}

                            {% if medication %}

                                <tr>

                                    {% for diagnosis in medication %}

                                        <td>
                                            {{ diagnosis.value }}
                                        </td>

                                    {% endfor %}

                                </tr>

                            {% endif %}

                        {% endfor %}

                    </tbody>

                </table>

            {% endif %}

        {% endfor %}

    </div>

{% endif %}