{% extends "layouts/main.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    <div class="footer-container" id="pdf-footer">

        <div class="cell">

            <p style="text-transform: uppercase;">
                {{ barcode_number }}
            </p>

        </div>

        <div class="cell aligncenter">

            <p>
                <span class="page"></span> / <span class="topage"></span>
            </p>

        </div>

        <div class="cell alignright">
            <img src="/static/images/{{ emr }}.png">
        </div>

    </div>

{% endblock %}