<p style="font-size: 20px; font-weight: bolder; margin-top: 0; text-align: center; margin-bottom: 2px;">
    REQUISITION FOR DEFINITIVE DRUG TESTING USING LC-MS/MS
</p>

<div class="info-row-2">

    <div class="user-main-info">

        <div class="cell" style="width: 640px; float: left;">

            <div class="field-holder">

                <label class="cell" for="lastname" style="width:130px; display: inline-block;">
                    Last Name:
                </label>

                <input style="display: inline-block; width: 70%;" type="text" class="cell input-style" id="lastname" value="{{ form.forms[5].value }}">

            </div>

            <div class="field-holder">

                <label class="cell" for="firstname" style="width:130px; display: inline-block;">
                    First Name:
                </label>

                <input style="display: inline-block; width: 70%;" type="text" class="cell input-style" id="firstname" value="{{ form.forms[6].value }}">

            </div>

        </div>

        <div class="cell">

            <div class="field-holder2" style="text-align: right;">

                <label class="cell" style="width:53px">
                    DOB:
                </label>

                <input type="text" class="cell input-style" style="width:45px" id="dob_mm" value="{{ form.forms[7].value }}">
                <div class="cell sep">/</div>
                <input type="text" class="cell input-style" style="width:45px" id="dob_dd" value="{{ form.forms[8].value }}">
                <div class="cell sep">/</div>
                <input type="text" class="cell input-style" style="width:45px" id="dob_yyyy" value="{{ form.forms[9].value }}">

            </div>

            <div class="field-holder" style="text-align: left; margin-bottom: 0px; margin-left: 15px;">

                <div class="cell" style="width:105px; font-size: 16px; font-weight: normal;">
                    Gender:
                </div>

                <div class="cell">

                    <label class="checkbox-requisittion-container">
                        M

                        {% if form.forms[10].value == True %}
                            <input style="margin: 0px;" type="checkbox" name="gender" id="male" checked>
                        {% else %}
                            <input style="margin: 0px;" type="checkbox" name="gender" id="male">
                        {% endif %}

                        <span class="checkmark"></span>

                    </label>

                </div>

                <div class="cell">

                    <label class="checkbox-requisittion-container">
                        F

                        {% if form.forms[11].value == True %}
                            <input style="margin: 0px;" type="checkbox" name="gender" id="female" checked="checked">
                        {% else %}
                            <input style="margin: 0px;" type="checkbox" name="gender" id="female">
                        {% endif %}

                        <span class="checkmark"></span>

                    </label>

                </div>

            </div>

        </div>

    </div>

    <div class="patient-demographic">

        <div class="cell" style="width: 545px; float: left;">

            <div class="field-holder2">

                <label class="cell" for="" style="display: inline-block; width:130px;">
                    Date Collected:
                </label>

                <input type="text" class="cell input-style" style="width:75px" value="{{ form.forms[12].value }}">
                <div class="cell sep">/</div>
                <input type="text" class="cell input-style" style="width:75px" value="{{ form.forms[13].value }}">
                <div class="cell sep">/</div>
                <input type="text" class="cell input-style" style="width:75px" value="{{ form.forms[14].value }}">

            </div>

        </div>

        <div class="cell">

            <div class="field-holder" style="margin: 0px; text-align: left;">

                <div class="cell">

                    <label class="checkbox-requisittion-container">
                        Attach patient demographic with insurance card

                        {% if form.forms[15].value == True %}
                            <input style="margin: 0px; display: inline-block;" type="checkbox" name="patient-demographic" id="patient-demographic-checked" checked="checked">
                        {% else %}
                            <input style="margin: 0px; display: inline-block;" type="checkbox" name="patient-demographic" id="patient-demographic-unchecked">
                        {% endif %}

                        <span class="checkmark"></span>

                    </label>

                </div>

            </div>

        </div>

    </div>

    <div class="diagnosis-order-provider">

        <div class="cell" style="width: 730px; float: left;">

            <div class="field-holder" style="float: left;">

                <div style="float: left; width: 52%;">

                    <label class="cell" for="diagnosis-code" style="width: 110px; display: inline-block;">
                        Diagnosis
                        Code:
                    </label>

                    <input type="text" style="display: inline-block; width: 65%; font-size: 11px;" class="cell input-style" id="diagnosis-code" value="{{ form.forms[16].value }}">

                </div>

                <div style="float: left; width: 48%;">

                    <label class="cell" for="ordering-provider" style="display: inline-block;">
                    Ordering
                    Provider:
                    </label>

                    <input type="text" style="display: inline-block; width: 58%;" class="cell input-style" id="ordering-provider" value="{{ form.forms[17].value }}">
                </div>

            </div>

        </div>

        <div class="cell" style="width: 150px; float: right;">

            <div class="field-holder" style="text-align: right; margin-top: 0px;">

                <div class="cell">

                    <label class="checkbox-requisittion-container">
                        Uninsured Patient

                        {% if form.forms[18].value == True %}
                            <input style="margin: 0px; display: inline-block;" type="checkbox" name="gender" id="uninsured-patient" checked="checked">
                        {% else %}
                            <input style="margin: 0px; display: inline-block;" type="checkbox" name="gender" id="uninsured-patient">
                        {% endif %}

                        <span class="checkmark"></span>

                    </label>

                </div>

            </div>

        </div>

    </div>

</div>